<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kitri.jejusari.mapper.MemberMapper">
	
	<select id="member_id" resultType="String">
		select * from member
	</select>
	
	
	<insert id="member_join">
		insert into member values (
			#{member_id}, 
			seq_member_number.nextval, 
			#{member_name}, 
			#{member_email},
			#{member_phone, jdbcType=VARCHAR},
			#{member_level},
			sysdate
		)
	</insert>
	
	<select id="member_id_check" resultType="int">
		select count(*) from member where member_id = #{member_id}
	</select>
	
</mapper>