<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kitri.jejusari.mapper.BoardMapper">

	<insert id="report_insert" parameterType="com.kitri.jejusari.board.model.dto.ReportDto">
		INSERT INTO REPORT 
		VALUES (
			SEQ_REPORT_NUMBER.NEXTVAL, 
			#{member_id}, 
			SYSDATE,
			#{report_title},
			#{report_content},
			0,
			#{sales_number}
		)
		
	</insert>
	
	<!-- 공지사항 -->
	<insert id = "notice_write" parameterType = "com.kitri.jejusari.board.model.dto.NoticeDto">
		INSERT INTO NOTICE (
			NOTICE_NUMBER, 
			NOTICE_TITLE, 
			NOTICE_DATE, 
			NOTICE_CONTENT, 
			NOTICE_COUNT, 
			MEMBER_ID
			) 
		VALUES (
			SEQ_NOTICE_NUMBER.NEXTVAL, 
			#{notice_title}, 
			SYSDATE, 
			#{notice_content}, 
			#{notice_count}, 
			#{member_id}
		)
	</insert>
	
	<update id="notice_readCount" parameterType="int">
		UPDATE NOTICE SET 
		NOTICE_COUNT = NOTICE_COUNT + 1 
		WHERE NOTICE_NUMBER = #{notice_number}
	</update>
	
	<select id="notice_read" parameterType="int" resultType="com.kitri.jejusari.board.model.dto.NoticeDto">
		SELECT * 
		FROM NOTICE 
		WHERE NOTICE_NUMBER = #{notice_number}
	</select>
	
	<select id="notice_count" resultType="int">
		SELECT NVL(COUNT(*),0) 
		FROM NOTICE
	</select>
	
	<select id="notice_list" parameterType="java.util.HashMap" resultType="com.kitri.jejusari.board.model.dto.NoticeDto">
		<![CDATA[
			SELECT B.* 
			FROM (
				SELECT ROWNUM RNUM, A.* 
				FROM (
					SELECT * 
					FROM NOTICE 
					ORDER BY NOTICE_NUMBER DESC
				) A
			) B 
			WHERE B.RNUM>=#{startrow} AND B.RNUM<=#{endrow}
		]]>
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id = "notice_delete" parameterType = "int">
		DELETE FROM NOTICE 
		WHERE NOTICE_NUMBER = #{notice_number}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="notice_update" parameterType = "com.kitri.jejusari.board.model.dto.NoticeDto">
		UPDATE NOTICE 
		SET 
			NOTICE_TITLE = #{notice_title}, 
			NOTICE_CONTENT = #{notice_content} 
		WHERE NOTICE_NUMBER = #{notice_number}
	</update>
	
	<!-- 관리자 신고 -->
	<!-- 신고 내역 리스트 -->
	<select id="reportList" parameterType="java.lang.String" resultType="com.kitri.jejusari.board.model.dto.ReportDto">
		SELECT * FROM REPORT
	</select>
	
	<!-- 신고 및 매물 삭제 -->
	<delete id="reportDel"  parameterType="int">
		DELETE FROM SALES 
		WHERE SALES_NUMBER = #{sales_number}
	</delete>	
	
	<!-- 신고 상세 보기 -->
	<select id="detailSelect" parameterType="int" resultType="com.kitri.jejusari.board.model.dto.ReportDto">
		SELECT * 
		FROM REPORT
		WHERE REPORT_NUMBER=#{report_number} 
	</select>
	
	<select id="reportadmin_count" resultType="int">
		SELECT NVL(COUNT(*),0) FROM REPORT
	</select>
	
	<select id="reportadmin_list" parameterType="java.util.HashMap" resultType="com.kitri.jejusari.board.model.dto.ReportDto">
		<![CDATA[
			SELECT B.* 
			FROM (
				SELECT ROWNUM RNUM, A.* 
				FROM (
					SELECT * 
					FROM REPORT 
					ORDER BY REPORT_NUMBER DESC
				) A
			) B 
			WHERE B.RNUM >= #{startrow} AND B.RNUM <= #{endrow}
		]]>
	</select>
	
	<!-- 신고 처리 업데이트 -->
	<update id="checkUpdate" parameterType = "int">
		UPDATE SALES 
		SET SALES_CHECK_BLIND = 1
		WHERE SALES_NUMBER = #{sales_number} 
	</update>
	
	<update id="updateReportAdmin" parameterType = "int">
		UPDATE REPORT 
		SET CHECK_COMPLETE = 1
		WHERE SALES_NUMBER = #{sales_number}
	</update>
</mapper>